.box {
    height: 200px;
    /* background-color:cornsilk; */
}

hr {
    border: 2px solid red;
}

.icon {
    display: inline;
    font-size: 50px;
    margin: 2% 0 0 15%;
}


h5 {
    margin-left: 45%;
}

.iconarea {
    /* background-color: cyan; */
    margin-left: 15%;
    width: 70%;
}