.box {
    background-color: cadetblue;
}

.column {
    float: left;
    width: 32%;
    height: 50%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.column img {
    width: 100%;
    height: 200px;
}